<h1>Chef Ingredients Index Page</h1>

<p> <%= @chef.name %>'s Ingredients</p>
<p> <ul id="ingredients_list"> <% @chef.dishes.list_ingredients_uniq.each do |ingredient| %></p>
<li> <%= ingredient.ing_name %> 
<% end %>
</ul>

<p> <%= @chef.name %>'s Most Popular Ingredients</p>
<p> <ol id="popular_ingredients_list"> <% @chef.dishes.list_ingredients_uniq_ordered.each do |ingredient| %></p>
<li> <%= ingredient %> 
<% end %>
</ol>



